<launch>

    <node
      name="C1_server"
      pkg="socket_test"
      type="C1_server.py"
      output="screen"
      launch-prefix ="xterm -e">
    </node>

    <node
      name="C1_client"
      pkg="socket_test"
      type="C1_client.py"
      output="screen"
      respawn="true"
      launch-prefix ="xterm -e">
    </node>

</launch>
